<section class="getstarted">
    <div class="container">
        <div class="inner">
            <b>Getting started</b>
            <p>
                To get started with UAParser-51D.js, please follow the instructions within the <a href="https://github.com/51Degrees/ua-parser-js-private/blob/main/README.md" target="_blank">GitHub README file</a>.
                <br> <br>
                Creating a Resource Key is a requirement in order for UAParser-51D.js to work; <a href="https://configure.51degrees.com/S6fGMDKw" target="_blank">follow this link to configure a Resource Key</a>.
                Please note, following this link will prepopulate your Key with the recommended minimum properties. Other properties are available, but may require the purchase of a
                <a href="https://51degrees.com/pricing" target="_blank">51Degrees pricing plan</a>.
                <br><br>
                You can also follow <a href="https://51degrees.com/documentation/_concepts__configurator.html">our Configurator guide</a> to create a Key from scratch if needed. Note that if you require reliable detection of Apple devices, the Resource Key must contain the JavascriptHardwareProfile property.
            </p>
            <span>The minimum recommended properties to include in your Resource Key are:</span>
            <ul class="custom-list">
                <li>IsMobile</li>
                <li>HardwareVendor, HardwareModel, HardwareName</li>
                <li>PlatformVendor, PlatformName, PlatformVersion</li>
                <li>LayoutEngine</li>
                <li>BrowserVendor, BrowserName, BrowserVersion</li>
                <li>JavascriptHardwareProfile</li>
                <li>DeviceType</li>
                <li>
                    SetHeaderBrowserAccept-CH, <br>
                    SetHeaderHardwareProfile-CH, <br>
                    SetHeaderPlatformAccept-CH, <br>
                </li>
            </ul>
        </div>
    </div>
</section>
