<section class="less-is-more">
  <div class="container">
    <h2>Less is More</h2>
    <div class="articles">
      <article>
        <h3>Extensive device data</h3>
        <p>
          UAParser-51D.js provides access to the
          <a href="https://configure.51degrees.com/">51Degrees Cloud service</a
          >, which can identify over 200 different device properties, such as
          platform, browser, engine, CPU, and vendors. The device data is
          maintained and updated by a professional data analyst team on a
          regular basis.
        </p>
      </article>
      <article>
        <h3>Small library footprint</h3>
        <p>
          The UAParser-51D.js library footprint is a tiny 13KB, which is smaller
          than many other available User-Agent parsers available.
        </p>
      </article>
      <article>
        <h3>Open source with a freemium model</h3>
        <p>
          We recognize the value of open source – that’s why the UAParser-51D.js
          library is freely available with a limited set of data properties. If
          you require extra data points or more requests per month, we offer
          different
          <a href="https://51degrees.com/pricing">pricing plans</a> to suit your
          needs.
        </p>
      </article>
      <article>
        <h3>Client-side and server-side</h3>
        <p>
          Whether it's a client-side webpage running in a browser or a
          server-side Node.js app, simply type:
        </p>
        <code>$ npm i ua-parser-51d-js --save</code>
      </article>
    </div>
  </div>
</section>
