  <section class="less-is-more">
        <div class="container">
          <h2>Less is More</h2>
          <div class="articles">
            <article>
              <h3>Extract Only What's Valuable</h3>
              <p>
                It's widely known that User-Agent string as of today is a mess.
                On the other hand, there is no reliable way to identify browser.
                {UAParser.js} fills this gap by filtering the noise away and
                extracts only the most relevant data available: Browser, Engine,
                OS, CPU, and Device.
              </p>
            </article>
            <article>
              <h3>Relatively Small Footprint</h3>
              <p>
                Started from JavaScript approach, {UAParser.js} is optimized to
                be used with browser. While it covers a vast range of detection,
                the size always kept to be as light as possible. For extra cache
                performance, {UAParser.js} also available in popular CDN
                services (jsDelivr/CDNJS).
              </p>
            </article>
            <article>
              <h3>100% Free & Open Source</h3>
              <p>
                Licensed under a permissive MIT license. {UAParser.js} is free
                to use, free to modify, free of charge. Get as-is, no support or
                guarantee offered. Use, extend, or replace with your own set of
                rules. Don't forget to contribute back by submitting a pull
                request or consider donating if you want.
              </p>
            </article>
            <article>
              <h3>Client-side & Server-side</h3>
              <p>
                Whether it's a client-side webpage running in a browser or a
                server-side node.js app, simply type:
              </p>
              <code>$ npm i ua-parser-51d-js --save</code>
            </article>
          </div>
        </div>
      </section>