<section class="meet-51deg">
  <div class="container">
    <div class="inner">
      <div class="description">
        <span>Meet all-new</span>
        <h1>UAParser- <b>51D</b>.js</h1>
        <p>
          A lightweight JavaScript library wrapping 51Degrees device detection
          cloud service. The lib provides comprehensive device data based on
          User-Agent Client Hints and/or legacy User-Agent string. Can be used
          either in a browser (client-side) or node.js (server-side).
          <br /><br />
          Client-side supports detection of the current client or detection from
          an arbitrary header map, server-side supports detection from a header
          map only.
        </p>
        <a href="www.test.com" class="button">
          <i class="icon download-icon"></i>
          Free download</a
        >
      </div>
    </div>
  </div>
</section>
