<section class="meet-51deg">
  <div class="container">
    <div class="inner">
      <div class="description">
        <span>Meet the new</span>
        <h1>UAParser-<b>51D</b>.js</h1>
        <p>
          A lightweight JavaScript library wrapping
          <a href="https://51degrees.com/device-detection"
            >51Degrees Device Detection</a
          >
          cloud service. The library provides comprehensive device data based on
          User-Agent Client Hints and/or the User-Agent. This package can be
          used either in a browser (client-side) or Node.js environment
          (server-side).
          <br /><br />
          Client-side supports both detection of the current client and
          detection from an arbitrary header map, while server-side supports
          detection from a header map only.
        </p>
        <a href="https://raw.github.com/51Degrees/ua-parser-js/master/lib/ua-parser.min.js" class="button">
          <i class="icon download-icon"></i>
          Free download</a
        >
      </div>
    </div>
  </div>
</section>
