<section class="playground">
  <div class="container">
    <h2>User-Agent playground</h2>
    <div class="inner">
      <div class="CH-data">
        <div class="CH-data__headers">
          <span>This is what we get from your User-Agent data:</span>
          <div class="CH-data__listing">
            <span>sec-ch-ua</span>: "Not_A Brand";v="99", "Google
            Chrome";v="109","Chromium";v="109" <br />
            <span>sec-ch-ua-arch</span>: "x86" <br />
            <span>sec-ch-ua-full-version</span>: "109.0.5414.87"<br />
            <span>sec-ch-ua-platform</span>: "macOS" <br />
            <span>sec-ch-ua-platform-version</span>: "13.1.0" <br />
            <span>Sec-Fetch-Dest</span>: script <br />
            <span>Sec-Fetch-Site</span>: cross-site <br />
          </div>
          <button class="copy-button" id="copy-to-clipboard">
            <i class="icon download-icon"></i>Copy to clipboard
          </button>
        </div>
      </div>
      <img src="./src/assets/images/arrow.svg" alt="" />
      <div class="CH-parsed">
        <span>Detected device data:</span>
        <div class="CH-parsed__listing" id="parser-result"></div>
      </div>
    </div>
    <div class="inner lower">
      <div class="try-more">
        <span>Try more examples</span>
        <b>Pick another User-Agent to test:</b>
        <div class="custom-select">
          <select id="user-agent-selector">
            <option
              value="User-Agent: Mozilla/5.0 (Windows; U; Windows NT 5.1; de-CH) AppleWebKit/523.15 (KHTML, like Gecko, Safari/419.3) Arora/0.2"
            >
              Mozilla/5.0 (Windows; U; Windows NT 5.1; de-CH) AppleWebKit/523.15
              (KHTML, like Gecko, Safari/419.3) Arora/0.2
            </option>
            <option
              value="User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.2 Safari/605.1.15"
            >
              Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
              AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.2
              Safari/605.1.15
            </option>
            <option
              value='sec-ch-ua: "Not_A Brand";v="99", "Google Chrome";v="109", "Chromium";v="109"
sec-ch-ua-mobile: ?0
sec-ch-ua-platform: "macOS"
sec-ch-ua-platform-version: "13.1.0"
sec-ch-ua-full-version-list: "Not_A Brand";v="99.0.0.0", "Google Chrome";v="109.0.5414.119", "Chromium";v="109.0.5414.119"
user-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36'
            >
              sec-ch-ua: "Not_A Brand";v="99", "Google Chrome";v="109",
              "Chromium";v="109" sec-ch-ua-mobile: ?0 sec-ch-ua-platform:
              "macOS" sec-ch-ua-platform-version: "13.1.0" sec-ch-ua-model: ""
              sec-ch-ua-full-version-list: "Not_A Brand";v="99.0.0.0", "Google
              Chrome";v="109.0.5414.119", "Chromium";v="109.0.5414.119"
              user-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
              AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0
              Safari/537.36
            </option>
            <option
              value='sec-ch-ua: "Not_A Brand";v="99", "Google Chrome";v="109", "Chromium";v="109"
sec-ch-ua-arch: "x86"
sec-ch-ua-full-version: "109.0.5414.76"
sec-ch-ua-mobile: ?0
sec-ch-ua-platform: "Windows"
sec-ch-ua-platform-version: "10.0.0"'
            >
              sec-ch-ua: "Not_A Brand";v="99", "Google Chrome";v="109",
              "Chromium";v="109" sec-ch-ua-arch: "x86" sec-ch-ua-full-version:
              "109.0.5414.76" sec-ch-ua-mobile: ?0 sec-ch-ua-model
              sec-ch-ua-platform: "Windows" sec-ch-ua-platform-version: "10.0.0"
            </option>
          </select>
        </div>
      </div>
      <div class="specific-headers">
        <span
          >Specify another set of User-Agent and/or User-Agent Client Hint
          headers:</span
        >
        <textarea name="" id="headers-list">
Header1: value1
Header2: value2</textarea
        >
        <button class="refresh-button" id="grab-textarea">
          <i class="icon refresh-icon"></i>
        </button>
      </div>
    </div>
  </div>
</section>
